.section-cards
    min-height: 73rem
    background: $gradient-brown-black, url("../img/фон-2.jpg") center / cover no-repeat
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%)
    padding: 0 10rem
    display: flex
    align-items: center
    justify-content: space-between
    @include adaptiv(690px)
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        align-items: center
        clip-path: none
        padding: 5rem
    &__box
        @include section-cards-about
        @include adaptiv(690px)
            width: 120px
            height: 140px
            transition: none
            margin-right: 2rem
            margin-bottom: 1rem
            &:hover
                transform: none
    &__icon
        margin-bottom: 2.4rem
        width: 6.3rem
        @include adaptiv(690px)
            width: 31px
    &__title
        margin-bottom: 1rem
        @include adaptiv(690px)
            font-size: 10px
    &__text
        font-family: "Lato-Regular"
        font-size: 1.6rem
        letter-spacing: 0.12em
        text-align: center
        color: $color-grey
        @include adaptiv(690px)
            font-size: 8px